DATABASE_URL="postgresql://user:password@host/db?sslmode=require"

BETTER_AUTH_SECRET="a-random-32-byte-string"
BETTER_AUTH_URL="http://localhost:3000"

ADMIN_EMAIL="admin@widerstandsdiagnose.de"
ADMIN_PASSWORD="Admin!Demo2026"

DEMO_ORG_EMAIL="kontakt@muster-gmbh.de"
DEMO_ORG_PASSWORD="Muster!Demo2026"
